# Hide folders not needed to be uploaded from Spring Tools Suite
Program/.metadata/
Program/LegoSetCheckList/.gradle
Program/LegoSetCheckList/build

# Hide files that only exist when word document is open
Documents/~$*.docx